/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .slider-content {
        margin-left: 12%;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-menu .navbar-brand {
        font-size: 35px;
        height: 70px;
        line-height: 65px;
    }
    ul.nav.navbar-nav li a {
        font-size: 12px;
        line-height: 60px;
    }
    .single-about-item {
        margin-bottom: 30px;
    }
    .about-text {
        margin-bottom: 30px;
        padding: 0!important;
    }
    .paralax-bg-area h2 {
        font-size: 34px;
    }
    .single-team-member {
        margin-bottom: 30px;
    }
    .team-area.sp100 {
        padding: 100px 0 70px;
    }
    span.count {
        font-size: 32px;
    }
    .sin-fact>p {
        font-size: 14px;
    }
    .single-project {
        width: 32%;
        margin: 0 5px 10px 5px;
    }
    a.loadmore_btn {
        margin-top: 15px;
    }
    .single-pricing {
        margin-bottom: 30px;
    }
    .pricing-section.sp100 {
        padding: 100px 0 70px;
    }
    .form-section {
        position: static;
        margin-bottom: 70px;
    }
    .widget {
        margin-bottom: 40px;
    }
    .widget-title {
        margin-bottom: 25px;
    }
    .slider-content {
        margin-left: 12%;
    }
    a.slide-btn {
        font-size: 16px;
        margin: 10px 15px 0px 0px;
        padding: 8px 32px;
    }
    .slider-text>h1 {
        font-size: 62px;
    }
    .slider-text {
        font-size: 16px;
    }
    .project-footer {
        text-align: right;
        display: block;
        margin-top: 14px;
    }
    .paddingRight80 {
        padding-right: 15px;
    }
    .author-photo img {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
    .page-breadcumb {
        height: 300px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    /* Mobile Menu CSS */
    .navbar-toggle {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        border: 0px solid transparent;
        color: #fff;
        font-size: 20px;
        margin-right: 15px;
        line-height: 110px;
    }
    .logo {
        font-size: 35px;
        height: 70px;
        width: 70px;
        line-height: 65px;
    }
    ul.note-dropdown {
        display: none;
    }
    .is-sticky .navbar-toggle,
    .page .navbar-toggle {
        color: #888;
    }
    .navbar-collapse {
        background: #faf5f3;
        position: relative;
        z-index: 9999;
    }
    ul.nav.navbar-nav li a {
        color: #888;
        line-height: 22px;
        padding: 15px 25px;
    }
    .nav.navbar-nav {
        margin: 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    .smooth-scroll {
        border-bottom: 1px solid #efefef;
    }
    ul.nav.navbar-nav {
        height: 300px;
        overflow: scroll;
    }
    a.slide-btn {
        font-size: 12px;
        margin: 9px 6px 0 0;
        padding: 7px 18px;
    }
    .slider-text>h1 {
        font-size: 32px;
    }
    .slider-text {
        font-size: 14px;
    }
    .BslideNav {
        font-size: 22px;
        height: 40px;
        line-height: 38px;
        top: 74%;
        width: 40px;
    }
    .slider-content {
        margin-left: 5%;
    }
    .single-about-item {
        margin-bottom: 20px;
    }
    .about-text {
        margin-bottom: 50px;
        padding: 0!important;
    }
    .paralax-bg-area h2 {
        font-size: 18px;
        line-height: 25px;
    }
    .paralax-bg-area a {
        font-size: 12px;
        padding: 10px 16px;
        letter-spacing: .5px;
    }
    .section-title h2>strong {
        font-size: 32px;
    }
    .sin-fact {
        float: none;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
    }
    .facts-section.sp100 {
        padding: 100px 0 50px;
    }
    .single-project {
        float: none;
        margin: 15px;
        width: 90%;
    }
    .single-team-member {
        margin-bottom: 30px;
    }
    .team-area.sp100 {
        padding: 100px 0 70px;
    }
    .reviews-title>h2 {
        font-size: 36px;
    }
    .single-review {
        font-size: 16px;
    }
    a.loadmore_btn {
        margin-top: 15px;
    }
    .single-pricing {
        margin-bottom: 30px;
    }
    .pricing-section.sp100 {
        padding: 100px 0 70px;
    }
    .cta-section a.cta-btn {
        display: inline-block;
        float: none;
        margin-top: 20px;
        position: static;
    }
    .cta-text>h3 {
        display: block;
        line-height: 30px;
        position: static;
    }
    .cta-text {
        text-align: center;
    }
    .form-section {
        position: static;
        margin-bottom: 70px;
    }
    .widget {
        margin-bottom: 40px;
    }
    .widget-title {
        margin-bottom: 25px;
    }
    .credit-text,
    .cpt-text {
        margin: 5px 0;
        text-align: center;
    }
    div#toTop {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .footer-top {
        padding-bottom: 0px;
    }
    .project-thumb {
        float: none;
        margin: 0px 0px 15px 0;
    }
    .project-details {
        padding: 0px;
        margin-bottom: 10px;
    }
    .detail-dismiss-btn {
        padding: 8px 15px;
    }
    .paddingRight80 {
        padding-right: 15px;
    }
    .author-photo img {
        width: 100%;
    }
    #sidebar {
        margin-top: 40px;
    }
    .page-breadcumb {
        height: 300px;
    }
    .post-share-button {
        float: none;
        margin: 15px 0px 0px 0px;
    }
    .share-buttons.animating {
        text-align: left;
    }
    .single-blog-excerpt>h2,
    .single-blog-excerpt>h2 a {
        font-size: 30px;
    }
    .single-blog-excerpt.quoted-post blockquote {
        font-size: 18px;
        line-height: 1.5em;
        padding: 30px;
    }
    .single-blog-excerpt.quoted-post blockquote::after {
        font-size: 40px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 300px) and (max-width: 700px) {

  .course_details ul {
      height: 100%;
      display: block;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 150%;
      margin: 0 auto;
      margin-left: 10%;
  }

}
@media only screen and (min-width: 300px) and (max-width: 1100px) {
    .course_card{
        width: 100%;
        margin: 0;
        margin-bottom:1em;
        display: flex!important;
    }
    .course_card img{
        width: 3em;
        margin: 0;
        margin-bottom:1em;
        display: flex;
    }
    #contact .contact_container {
    background-color: rgba(255, 255, 255, 0.95)!important;
    padding: 5em;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
}
}
