        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather|Montserrat|Source+Sans+Pro');
    .alignleft {
        float: left;
        margin-right: 15px;
    }

    .alignright {
        float: right;
        margin-left: 15px;
    }

    .aligncenter {
        display: block;
        margin: 0 auto 15px;
    }

    a:focus {
        outline: 0 solid
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 15px;
        font-weight: 700;
        color: #323232;
        transition: all 0.5s;
    }

    html,
    body {
        height: 100%;
        transition: all 0.5s;
    }

    body {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        color: #999;
        transition: all 0.5s;
    }

    ul,
    ol {
        margin: 0px;
        padding: 0px;
        list-style: none;
        transition: all 0.5s;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        transition: all 0.5s;
    }

    * {
        outline: none !important;
        transition: all 0.5s;
    }

    .text_center {
        text-align: center
    }

    .text_left {
        text-align: left;
    }

    .text_right {
        text-align: right;
    }

    .margin {
        margin: 1em!important
    }

    .margin_top {
        margin-top: 1em!important
    }

    .margin_left {
        margin-left: 1em!important
    }

    .margin_right {
        margin-right: 1em!important
    }

    .margin_bottom {
        margin-bottom: 1em!important
    }

    .zeropadding {
        padding: 0em!important
    }

    .padding {
        padding: 1em!important
    }

    .padding_top {
        padding-top: 1em!important
    }

    .padding_left {
        padding-left: 1em!important
    }

    .padding_left_2 {
        padding-left: 3em!important
    }

    .padding_right {
        padding-right: 1em!important
    }

    .padding_bottom {
        padding-bottom: 1em!important
    }

    .zeromargin-top {
        margin-top: 0!important
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        box-shadow: 0 0 0px 1000px white inset !important;
    }

    .sp100 {
        padding: 100px 0px;
    }

    .spb100 {
        padding: 0px 0px 100px 0px;
    }

    .mt-30 {
        margin-top: 30px;
    }

    .paddingRight80 {
        padding-right: 80px;
    }
    /* Slider CSS*/

    .wrap.boxed-layout {
        margin: 70px auto 0;
        max-width: 80%;
    }

    .wrap,
    .welcome-area {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slider-area {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .slider-wrap,
    .slider-wrap .slick-list,
    .slick-track,
    .item,
    .slider-wrap-2,
    .slider-wrap-3,
    .slick-list {
        height: 100% !important;
        width: 100%;
    }

    .slider-area .item {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .item>.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .slider-text>h1 {
        font-size: 72px;
        color: #fff;
        font-weight: 500;
        margin: 0 0 2px;
    }

    .slider-text {
        font-size: 18px;
        color: #fff;
        font-weight: 300;
    }

    a.slide-btn {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        margin: 22px 15px 0px 0px;
        border: 1px solid;
        border-radius: 3px;
        padding: 10px 42px;
        letter-spacing: 2px;
        transition: .4s;
    }

    a.slide-btn:hover {
        background: #29B6F6;
        color: #fff;
        border-color: #29B6F6;
    }

    .BslideNav {
        position: absolute;
        left: 25px;
        top: 50%;
        z-index: 99;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        height: 60px;
        width: 60px;
        border: 2px solid;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        transition: .3s;
    }

    .BslideNav.icofont-long-arrow-right {
        left: auto;
        right: 25px;
    }

    .BslideNav:hover {
        color: #fc7f0c;
        border-color: #fc7f0c;
    }
    /* Slider Animation*/

    .slider-wrap .item h1 {
        -webkit-animation: flipOutX 1s both;
        animation: flipOutX 1s both;
    }

    .slider-wrap .item.slick-active h1 {
        -webkit-animation: flipInX 1s both 1s;
        animation: flipInX 1s both 1s;
    }

    .slider-wrap .item p,
    .slider-wrap .item a {
        -webkit-animation: fadeOutLeft 1s both;
        animation: fadeOutLeft 1s both;
    }

    .slider-wrap .item.slick-active p,
    .slider-wrap .item.slick-active a {
        -webkit-animation: fadeInUp 1s both 1.5s;
        animation: fadeInUp 1s both 1.5s;
    }

    .slider-wrap .item:nth-child(odd) {
        -webkit-animation: ShutterOutV 0.3s both;
        animation: ShutterOutV 0.3s both;
    }

    .slider-wrap .item.slick-active:nth-child(odd) {
        -webkit-animation: ShutterInH 0.3s both;
        animation: ShutterInH 0.3s both;
    }

    .slider-wrap .item:nth-child(even) {
        -webkit-animation: ShutterOutH 0.3s both;
        animation: ShutterOutH 0.3s both;
    }

    .slider-wrap .item.slick-active:nth-child(even) {
        -webkit-animation: ShutterInV 0.3s both;
        animation: ShutterInV 0.3s both;
    }
    /* #Header CSS*/

    header.header-area {
        position: relative;
        z-index: 999;
        transition: .7s;
    }

    .is-sticky .main-menu .nav.navbar-nav li a,
    .page .main-menu .nav.navbar-nav li a {
        color: #696969;
    }

    .is-sticky header#header-area {
        background: #fff;
        z-index: 999999999;
        box-shadow: 0 2px 2px 0 rgba(199, 199, 199, 0.5);
    }

    div#header-area-sticky-wrapper {
        position: relative;
        z-index: 999;
    }
    /* #Menu CSS*/

    ul.nav.navbar-nav li a {
        color: #fff;
        font-size: 1em;
        line-height: 60px;
        transition: .4s;
        font-family: 'Josefin Sans', sans-serif;
    }

    .nav.navbar-nav li a:hover,
    .nav.navbar-nav li a:focus {
        background: none;
    }

    .logo {
        padding: 0px;
        font-size: 30px;
        height: 60px;
        /*width: 80px;*/
        text-align: center;
        line-height: 60px;
        /*border: 3px solid #fff;*/
        color: #fff;
        margin: 15px;
        display: inline-block;
    }

    .is-sticky .logo,
    .page .logo {
        color: #000;
        border-color: #000;
    }

    .logo:hover {
        color: #fff;
    }

    .main-menu .nav.navbar-nav li a:hover,
    .main-menu .nav.navbar-nav li.active a,
    .main-menu ul.nav.navbar-nav .note-dropdown>li>a:hover {
        color: #29B6F6;
    }
    /* #DropDown Menu CSS*/

    .main-menu ul.nav.navbar-nav li ul.note-dropdown {
        background: #fff;
        left: 0;
        position: absolute;
        top: 150%;
        width: 230px;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: .4s;
    }

    .main-menu ul.nav.navbar-nav li:hover>ul.note-dropdown {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }

    .main-menu ul.nav.navbar-nav li .note-dropdown>li {
        border-bottom: 1px solid #efefef;
        display: block;
    }

    .main-menu ul.nav.navbar-nav li .note-dropdown>li:last-child {
        border-bottom: 0 solid;
    }

    .main-menu ul.nav.navbar-nav li .note-dropdown>li>a {
        color: #888;
        display: block;
        line-height: inherit;
        padding: 20px 20px 20px 30px;
        position: relative;
        transition: .4s;
    }

    .main-menu ul.nav.navbar-nav li>.note-dropdown>li>a:after {
        content: "\eb61";
        font-family: icofont;
        left: 15px;
        padding: 22px 0;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: .4s;
    }

    .main-menu ul.nav.navbar-nav li .note-dropdown>li>a:hover {
        padding: 20px 20px 20px 35px;
    }

    .main-menu ul.nav.navbar-nav li>.note-dropdown>li>a:hover:after {
        transform: scale(1);
    }
    /* #Services CSS*/

    .aboutus-area {
        background: url(../images/bg/bg_pattern.png)!important;
    }

    .about-text {
        font-family: 'Source Sans Pro', sans-serif;
        color: #444;
        font-size: 1.25em;
        padding: 1em;
        line-height: 200%;
        text-align: justify;
    }

    .about-item-icon {
        display: inline-block;
        font-size: 42px;
        margin: 0px 0px 5px;
        color: #29B6F6;
    }

    .single-about-item>h4 {
        text-transform: capitalize;
        font-size: 24px;
        margin: 0 0 10px;
    }

    .single-about-item {
        font-size: 15px;
        font-weight: 300;
    }
    /*
    .section-title h2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 200%
    } */

    .section-title h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5em;
        display: block;
        font-weight: 500;
        letter-spacing: 4px;
        margin: 1em 0 0 0;
        padding: 0;
        color: #29B6F6;
    }

    .white_text {
        color: white!important;
    }

    .section-title {
        /* margin-bottom: 20px; */
        padding: 0;
        margin: 0 auto;
    }

    .clr-orange {
        color: #fc7f0c;
    }

    .clr-red {
        color: #e84b3a;
    }
    /* #Barfiller CSS*/

    .barfiller {
        width: 100%;
        height: 5px;
        background: #eeeded;
        position: relative;
        margin-bottom: 25px;
    }

    .barfiller .fill {
        display: block;
        position: relative;
        width: 0px;
        height: 100%;
        background: #333;
        z-index: 1;
    }

    .barfiller .tip {
        margin-top: -22px;
        font-size: 14px;
        color: #000;
        left: 0px;
        position: absolute;
        z-index: 2;
        font-weight: 500;
    }

    .single-skill-bar>h5 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        color: #999;
        margin: 0 0 8px;
    }
    /* #Services CSS*/

    .services-area.sp100 {
        padding: 100px 0 70px;
    }

    .services-area {
        background-size: cover;
    }

    .course_card {
        background-color: #fff;
        height: 6em;
        padding: 1em;
        box-shadow: 1px 7px 17px #4747475e;
        border-radius: 3px;
        /* white-space: nowrap; */
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
        font-size: 1.2em;
        color: #5a5a5a;
        font-weight: 600;
        margin: 0 auto;
        margin-right: 1em;
        margin-bottom: 1em;
        width: 31%;
    }
    /* .course_card.vhq-card--hover:hover {
        text-decoration: none;
        color: inherit;
        -webkit-box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
        box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .15);
        position: relative;
        transform: translateY(-5px);
    } */

    .course_details ul {
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 150%;
    }

    .course_details ul li {
        list-style-type: square;
        font-size: 1.1em;
    }

    .course_card~img {
        width: 80px;
    }

    .single-service {
        text-align: center;
        background: #fff;
        padding: 10px 35px;
        margin-bottom: 30px;
        transition: .4s;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .single-service:hover {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .1);
    }

    .single-service>a>h4,
    .single-service>a {
        font-weight: 500;
        letter-spacing: .5px;
        display: block;
    }

    .service-icon {
        height: 50px;
        width: 50px;
        margin: 0 auto;
        color: #fff;
        line-height: 50px;
        margin-bottom: 15px;
        font-size: 18px;
        border-radius: 50%;
    }

    .service-icon.bg-yellow {
        background: #ffc000;
    }

    .service-icon.bg-orange {
        background: #fc7f0c;
    }

    .service-icon.bg-red {
        background: #e84b3a;
    }

    .service-icon.bg-black {
        background: #474747;
    }

    .service-icon.bg-blue {
        background: #29B6F6;
    }
    /* #Parallax background CSS*/

    .paralax-bg-area {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 120px 0px;
    }

    .overlay {
        position: relative;
        z-index: 1;
    }

    .overlay:after {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        content: "";
        background: #000;
        opacity: .7;
        z-index: -1;
    }

    .paralax-bg-area h4,
    .paralax-bg-area h2 {
        color: #fff;
    }

    .paralax-bg-area h4 {
        font-size: 24px;
        font-weight: 500;
        color: #29B6F6;
    }

    .paralax-bg-area h2 {
        font-size: 50px;
        font-weight: 300;
        color: #fff;
    }

    .paralax-bg-area a {
        display: inline-block;
        color: #fff;
        border: 2px solid;
        border-radius: 3px;
        font-size: 16px;
        padding: 14px 30px;
        letter-spacing: 1px;
        margin: 15px 0 0 0;
        transition: .4s;
    }

    .paralax-bg-area a:hover {
        background: #29B6F6;
        border-color: #29B6F6;
    }
    /*  #Members CSS*/

    .single-team-member {
        overflow: hidden;
    }

    .single-team-member:hover .member-bio {
        transform: translate(0px);
        visibility: visible;
        opacity: 1;
    }

    .member-image {
        position: relative;
    }

    .member-bio {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.81);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
        transform: translateY(50%);
        visibility: hidden;
        opacity: 0;
    }

    .member-bio a {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
        line-height: 1.2;
        margin: 0px 0px 5px 0px;
    }

    .member-bio span {
        color: #888;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
        letter-spacing: 3px;
        font-weight: 300;
    }

    .member-social-links a {
        display: inline-block;
        color: #fff;
        font-size: 13px;
        color: #888888;
        line-height: 1.5;
        padding: 0 4px;
        transition: .3s;
        transform: scale(0);
    }

    .single-team-member:hover .member-social-links a {
        transform: scale(1);
    }

    .member-social-links a:hover {
        color: #fc7f0c;
    }

    .member-social-links a:nth-child(1) {
        transition-delay: .2s;
    }

    .member-social-links a:nth-child(2) {
        transition-delay: .3s;
    }

    .member-social-links a:nth-child(3) {
        transition-delay: .4s;
    }

    .member-social-links a:nth-child(4) {
        transition-delay: .5s;
    }

    .member-social-links a:nth-child(5) {
        transition-delay: .6s;
    }

    .member-bio .member-name {
        transform: translateY(15px);
        display: inline-block;
        transition: .4s;
        opacity: 0;
        visibility: hidden;
        transition-delay: .4s;
    }

    .rid-flex>span {
        transform: translateY(15px);
        transition: .4s;
        opacity: 0;
        visibility: hidden;
    }

    .single-team-member:hover .member-bio .member-name,
    .single-team-member:hover .member-bio .rid-flex>span {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    .member-social-links a>.icofont-social-facebook,
    .foo-socials a>.icofont-social-facebook {
        color: #3b5998;
    }

    .member-social-links a>.icofont-social-twitter,
    .foo-socials a>.icofont-social-twitter {
        color: #0084b4;
    }

    .member-social-links a>.icofont-social-behance,
    .foo-socials a>.icofont-social-behance {
        color: #1769ff;
    }

    .member-social-links a>.icofont-social-dribbble,
    .foo-socials a>.icofont-social-dribbble {
        color: #ea4c89;
    }

    .member-social-links a>.icofont-social-vimeo,
    .foo-socials a>.icofont-social-vimeo {
        color: #1ab7ea;
    }
    /*  #Projects CSS*/

    .single-project {
        height: 270px;
        width: 370px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        width: 30%;
        margin: 0 15px 30px 15px;
        display: block;
        overflow: hidden;
    }

    .project-bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.81);
        transform: translateY(100px);
        transition: .4s;
        visibility: hidden;
        opacity: 0;
    }

    .member-hover>h4 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0 0 5px 0;
        transform: translateY(15px);
        transition: .4s;
        transition-delay: .3s;
        visibility: hidden;
        opacity: 0;
    }

    .categories span {
        color: #888;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        position: relative;
        padding-right: 5px;
        transform: translateY(25px);
        transition: .4s;
        transition-delay: .3s;
        visibility: hidden;
        opacity: 0;
    }

    .categories span:hover {
        color: #fc7f0c;
    }

    .categories span:after {
        position: absolute;
        right: 0px;
        bottom: 0;
        content: ",";
    }

    .categories span:last-child:after {
        display: none;
    }

    .single-project:hover .member-hover>h4,
    .single-project:hover .categories span {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }

    .single-project:hover .project-bio {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }

    a.loadmore_btn {
        font-size: 14px;
        border: 1px solid;
        padding: 12px 35px;
        border-radius: 3px;
        display: inline-block;
        letter-spacing: 1px;
        color: #29B6F6;
        transition: .4s;
    }

    a.loadmore_btn:hover {
        background: #29B6F6;
        color: #fff;
    }
    /*  #Projects Details*/

    .note-project-detail.modal {
        top: 40% !important;
    }

    .project-details-wrap {
        background: #fff;
        padding: 30px;
    }

    .project-thumb {
        height: 134px;
        width: 200px;
        float: left;
        margin-right: 15px;
    }

    .project-details-body {
        overflow: hidden;
    }

    .project-details {
        padding-left: 216px;
    }

    .project-details-head>h4 {
        text-transform: capitalize;
        font-size: 22px;
    }

    .project-details>h4 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .5px;
        margin-bottom: 5px;
    }

    .project-footer {
        text-align: right;
    }

    .detail-dismiss-btn {
        border: 1px solid;
        color: #fff;
        padding: 12px 20px;
        font-size: 14px;
        cursor: pointer;
        background: #e84b3a;
        border-radius: 5px;
        display: inline-block;
    }
    /*  #Facts CSS*/

    .facts-section {
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .overlay-white {
        position: relative;
        z-index: 1;
    }

    .overlay-white:after {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        content: "";
        background-color: rgba(35, 35, 35, 0.522);
        z-index: -1;
        opacity: .85;
    }

    .sin-fact {
        float: left;
        width: 25%;
        text-align: center;
    }

    .fact-icon {
        font-size: 32px;
        color: rgba(255, 255, 255, 0.85);
        margin-bottom: 5px;
    }

    span.count {
        font-size: 42px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
        display: inline-block;
    }

    .sin-fact>p {
        color: #fff;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 18px;
    }
    /*  #Reviews CSS*/

    .reviews-title>h2 {
        color: #fff;
        font-size: 42px;
        font-weight: 500;
    }

    .single-review {
        font-size: 18px;
        color: #d5d5d5;
    }

    .author-signature {
        margin: 15px auto 0;
        width: 115px;
    }

    .reviews-wrap * {
        outline: none !important;
    }

    .author-name {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        margin: 5px 0 0 0;
        display: inline-block;
    }

    .single-review .author-signature>img {
        margin: 0px !important;
    }

    ul.slick-dots>li {
        display: inline-block;
        height: 12px;
        width: 12px;
        overflow: hidden;
        margin: 0 3px;
        border: 2px solid #29B6F6;
        border-radius: 50%;
        cursor: pointer;
    }

    ul.slick-dots>li>button {
        display: none;
    }

    ul.slick-dots {
        margin: 25px 0px 0px 0px;
    }

    ul.slick-dots li.slick-active {
        background: #29B6F6;
    }
    /*  #Pricing CSS*/

    .pricing-icon {
        height: 80px;
        width: 80px;
        display: inline-block;
        margin: 0 auto;
        line-height: 80px;
        font-size: 60px;
    }

    .pricing-section {
        background: #f9f9f9;
    }

    .single-pricing {
        background: #fff;
        transition: .3s;
    }

    .single-pricing:hover {
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .1);
    }

    .pricing-box {
        padding: 20px 0;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
    }

    .pricing-box>span {
        display: block;
    }

    .price-label {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 18px;
    }

    span.price {
        color: #000;
        font-size: 32px;
        font-weight: 700;
    }

    .single-pricing {
        padding: 20px 0;
    }

    .pricing-head>h4 {
        font-weight: 700;
        padding: 10px 0 12px;
        margin: 0px;
        border-bottom: 1px solid #efefef;
        line-height: 1.5;
    }

    .pricing-body {
        padding: 30px 0;
    }

    .pricing-body p {
        padding: 8px 0;
        margin: 0px;
    }

    .pricing-body p:last-child {
        border: none;
    }

    .pricing-bottom {
        padding: 25px 0 25px;
        border-top: 1px solid #efefef;
    }

    .pricing-bottom>a {
        color: #29B6F6;
        padding: 10px 30px;
        border-radius: 5px;
        display: inline-block;
    }
    /* Personal Pricing Package */

    .personal .pricing-bottom>a {
        color: #fff;
        border: 1px solid #29B6F6;
        background: #29B6F6;
    }

    .single-pricing.personal .pricing-icon,
    .personal .price-label {
        color: #29B6F6;
    }
    /* Standard Pricing Package*/

    .standard .pricing-bottom>a {
        color: #fff;
        border: 1px solid #fc7f0c;
        background: #fc7f0c;
    }

    .single-pricing.standard .pricing-icon,
    .standard .price-label {
        color: #fc7f0c;
    }
    /* Business Pricing Package*/

    .business .pricing-bottom>a {
        color: #fff;
        border: 1px solid #e84b3a;
        background: #e84b3a;
    }

    .single-pricing.business .pricing-icon,
    .business .price-label {
        color: #e84b3a;
    }
    /*  #Contact Section CSS*/

    .contact-section {
        position: relative;
        background-size: cover;
    }

    .form-section {
        height: 100%;
        width: 100%;
        z-index: 99;
    }
    /*  #Form Style*/

    #contact .contact_container {
        background-color: rgba(255, 255, 255, 0.95)!important;
        padding: 5em;
        width: 470px;
        margin: 0 auto;
        margin-top: 10%;
    }

    #contact .contact_container h3 {
        color: rgb(251, 135, 28);
    }

    .form-holder .group {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 15px;
    }

    .form-holder input,
    .form-holder textarea {
        font-size: 13px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        outline: none;
        border: 1px solid rgba(58, 73, 83, 0.25);
        color: #3A4953;
        /* background: rgba(0, 0, 0, 0); */
        /* opacity: 0.85; */
        transition: 0.2s ease;
        resize: none;
    }

    .form-holder input:focus,
    .form-holder textarea:focus {
        outline: none;
        opacity: 1;
    }

    .form-holder label {
        color: rgba(58, 73, 83, 0.6588235294117647);
        font-size: 13px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 15px;
        top: 10px;
        /* opacity: 0.75; */
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .form-holder input:focus~label,
    .form-holder input:valid~label,
    .form-holder textarea:focus~label,
    .form-holder textarea:valid~label {
        top: -20px;
        font-size: 12px;
        color: #00BCD4;
        opacity: 1;
    }

    .form-holder .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        /* opacity: 0.5; */
    }

    .form-holder input:focus~.highlight,
    .form-holder textarea:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* @-webkit-keyframes inputHighlighter {
        from {
            background: hsla(0, 0%, 20%, 0.082);
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #323232;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #323232;
        }
        to {
            width: 0;
            background: transparent;
        }
    } */
    /* End Of Form Style */

    .form-holder {
        background: rgba(255, 255, 255, 0.95);
        padding: 30px 40px;
        margin: 0 auto;
        text-align: center
    }

    .form-holder input[type="submit"] {
        width: 100%;
        border: 2px solid #384952;
        color: #384952;
        margin: 0px;
        padding: 11px 32px;
        border-radius: 3px;
        font-weight: 500;
        background: transparent;
    }

    .form-holder input[type="submit"]:hover {
        color: #fff;
        background: #384952;
        border-color: #384952;
    }
    /*  #CTA Section CSS*/

    .cta-section {
        /* background: #29B6F6; */
        padding: 70px 0px;
    }

    .cta-section h3 {
        margin: 0px;
    }

    .cta-section a {
        float: right;
    }

    .cta-text>h3 {
        margin: 0px;
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 1px;
        position: relative;
        top: 8px;
    }

    a.cta-btn {
        color: #fff;
        border: 1px solid;
        padding: 12px 35px;
        border-radius: 3px;
        position: relative;
        top: 0px;
        transition: .4s;
    }

    a.cta-btn:hover {
        background: #fc7f0c;
        color: #fff;
        border-color: #fc7f0c;
    }
    /*  #Footer Section CSS*/

    .footer-section {
        background: #3a4953;
        color: #efefef;
        /* padding: 70px 0px; */
    }

    .footer-bottom {
        padding: 25px 0;
    }

    .footer-bottom p {
        margin: 0px;
        font-size: 1em;
    }

    .cpt-text {
        text-align: right;
    }

    .credit-text i,
    .cpt-text span {
        color: #fc7f0c;
    }

    .credit-text a {
        color: hsl(197, 100%, 50%);
        transition: all 0.5s;
    }

    .credit-text a:hover {
        color: hsl(197, 100%, 50%);
        ;
        text-decoration: underline;
        transition: all 0.5s;
    }

    div#toTop {
        position: fixed;
        right: 5%;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 25px;
        border: 2px solid #29B6F6;
        border-radius: 50%;
        cursor: pointer;
        bottom: 10%;
        z-index: 999;
        color: #29B6F6;
    }
    /*  #Blog Page CSS*/

    .page-breadcumb {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .breadcumb-text h2 {
        font-size: 45px;
        color: #fff;
        text-transform: capitalize;
        font-weight: 300;
    }

    .breadcumb-text h2:first-letter {
        font-size: 72px;
        padding-right: 2px;
        font-weight: 700;
        color: #29B6F6;
    }

    .breadcumb-nav>a {
        display: inline-block;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 500;
        color: #fff;
        padding: 0 10px;
        position: relative;
    }

    .breadcumb-nav>a.current-page {
        color: #29B6F6;
    }

    .breadcumb-nav>a:first-child:after {
        position: absolute;
        right: -8px;
        content: "-";
        font-size: 19px;
    }

    .page .welcome-area {
        height: auto;
    }

    .blog-post-thumbnail {
        display: block;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        margin: 0 0 20px;
    }

    .single-blog-excerpt>h2,
    .single-blog-excerpt>h2 a {
        font-size: 38px;
        font-weight: 300;
        color: #323232;
    }

    .fit-audio iframe {
        width: 100%;
        height: 130px;
    }

    ul.blog-post-meta {
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }

    ul.blog-post-meta li {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        margin-right: 20px;
        color: #000;
        font-weight: 500;
    }

    ul.blog-post-meta li>a {
        color: #333;
        font-weight: 400;
    }

    ul.blog-post-meta li:after {
        position: absolute;
        left: 0px;
        font-family: icofont;
        color: #29B6F6;
    }

    ul.blog-post-meta li.p-cat:after {
        content: "\f0eb";
    }

    ul.blog-post-meta li.p-date:after {
        content: "\efa1";
    }

    ul.blog-post-meta li.p-author:after {
        content: "\eddc";
    }

    a.read-more-button {
        color: #000;
        font-size: 16px;
        display: inline-block;
        border: 1px solid;
        padding: 10px 22px;
        transition: .3s;
        border-radius: 3px;
    }

    a.read-more-button:hover {
        background: #29B6F6;
        border-color: #29B6F6;
        color: #fff;
    }

    .single-blog-excerpt {
        margin: 0 0 20px 0;
    }

    .post-share-button,
    .read-more-button {
        display: inline-block;
    }

    .post-share-button {
        float: right;
    }

    .post-share-button a {
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        transition: all ease-in .3s;
    }

    .post-share-button a {
        border: 1px solid;
        border-radius: 50%;
        margin-right: 5px;
        transition: .4s;
    }

    .share-buttons {
        width: 0px;
    }

    .share-buttons.animating {
        width: 240px;
        text-align: right;
    }

    .post-share-button a.facebook {
        color: #3b5998;
    }

    .post-share-button a.facebook:hover {
        color: #fff;
        background: #3b5998;
    }

    .post-share-button a.twitter {
        color: #1dcaff;
    }

    .post-share-button a.twitter:hover {
        {
            color: #fff;
            background: #1dcaff;
        }
        .post-share-button a.google-plus {
            color: #d34836;
        }
        .post-share-button a.google-plus:hover {
            color: #fff;
            background: #d34836;
        }
        .post-share-button a.pinterest {
            color: #C92228;
        }
        .post-share-button a.pinterest:hover {
            color: #fff;
            background: #C92228;
        }
        .single-blog-excerpt p {
            line-height: 1.7em;
            color: #333;
            font-size: 16px;
        }
        ul.blog-post-meta li>a {
            transition: .4s;
        }
        ul.blog-post-meta li>a:hover {
            color: #29B6F6;
        }
        .single-blog-post {
            margin-bottom: 50px;
        }
        .blog-slides-thumbnail {
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .s-navigation {
            position: absolute;
            left: 10px;
            top: 50%;
            font-size: 18px;
            color: #29B6F6;
            height: 45px;
            width: 45px;
            border: 2px solid;
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 9;
            transition: .3s;
        }
        .s-navigation {
            margin-top: -22.5px;
        }
        .s-navigation:hover {
            color: #fff;
            background: #29B6F6;
        }
        .s-navigation.icofont-simple-right {
            left: auto;
            right: 10px;
        }
        .single-blog-excerpt.quoted-post blockquote {
            border: 0px solid;
            font-size: 24px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.7em;
            text-align: center;
            background: #29B6F6;
            padding: 50px;
            color: #fff;
            position: relative;
            z-index: 9;
        }
        .single-blog-excerpt.quoted-post blockquote:after {
            position: absolute;
            left: 10px;
            top: 30px;
            content: "\f0b1";
            font-family: icofont;
            font-size: 80px;
            color: #000;
            z-index: -1;
        }
        .pagination.note-pagination li a.active {
            background: #29B6F6;
            color: #fff;
            border-color: #29B6F6;
        }
        .author-photo {
            margin-bottom: 20px;
        }
        .author-board {
            background: #fff;
            box-shadow: 0 0 17px 1px rgba(0, 0, 0, .2);
            text-align: center;
            padding: 20px;
        }
        .author-social-links a {
            display: inline-block;
            color: #000;
            margin: 0 5px;
            transition: .3s;
        }
        .sidebar-widget {
            margin: 0 0 40px;
        }
        .sin-recent-post {
            overflow: hidden;
        }
        a.r-thumb {
            /* display: inline-block; */
            float: left;
            margin-right: 15px;
        }
        .r-content {
            padding-left: 135px;
        }
        .sin-recent-post {
            margin: 0 0 20px;
        }
        .r-content h5,
        .r-content h5 a {
            font-size: 16px;
            color: #333;
            font-weight: 500;
            margin: 0 0 8px;
            transition: .3s;
        }
        .sidebar-title {
            margin: 0 0 25px;
        }
        .sidebar-widget ul li a {
            color: #aeaeae;
            font-size: 16px;
            display: block;
            margin: 0px 0px 15px;
            transition: .3s;
        }
        .sidebar-widget ul li a:hover,
        .r-content h5 a:hover,
        .author-social-links a:hover {
            color: #29B6F6;
        }
        .sidebar-widget ul li>* {
            display: inline-block !important;
        }
        .blog-post-thumbnail img {
            width: 100%;
        }
        .post-content {
            font-size: 16px;
            line-height: 1.7em;
            color: #777;
        }
        .avatar {
            height: 120px;
            width: 120px;
            float: left;
            margin-right: 15px;
        }
        .avatar img {
            width: 100%;
            height: 100%;
        }
        .comment-content {
            padding-left: 135px;
        }
        .single-comment {
            overflow: hidden;
        }
        .comment-content h4 {
            margin: 0 0 5px;
        }
        span.c-time {
            display: block;
            margin: 0 0 10px;
        }
        .replay-btn {
            color: #000;
            font-weight: 500;
        }
        #comments {
            margin: 25px 0 0 0;
        }
        .single-comment {
            margin: 0 0 15px 0;
        }
        #comments-form input,
        #comments-form label,
        #comments-form textarea {
            display: block;
            width: 100%;
        }
        #comments-form label {
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 15px;
        }
        #comments-form input,
        #comments-form textarea {
            margin: 0 0 20px;
            padding: 7px;
            resize: none;
            border: 1px solid #eee;
        }
        #comments-form {
            margin: 35px 0 0 0;
        }
        #comments-form input[type="submit"] {
            width: initial;
            float: right;
            color: #fff;
            background: #29B6F6;
            border-color: #29B6F6;
            padding: 12px 30px;
        }